@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Ancizar Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Pixelify Sans', sans-serif; */
    font-family: 'Inter', sans-serif;
}

.pfp {
    width: 175px;
    height: auto;
    margin-top: 6px;
}

.pfp-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 175px;
}

.name {
    font-size: 27px;
    font-weight: 500;
}

.name-wrapper {
    margin-left: 40px;
    width: 500px;
}

.title {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.75;
}

.links {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
}

a {
    text-decoration: none;
    /* color: inherit; */
    opacity: 0.85;
    color: hsl(270, 100%, 36%);
}

a:hover {
    text-decoration: line-through;
}

.description {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.85;
    line-height: 1.5;
}

.euler-pfp {
    height: auto;
    width: 176px;
    margin-left: 0px;
    margin-top: -2px;
}

.publications {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 400;
}

.pub-title {
    font-size: 15px;
    font-weight: 400;
}

.pub-list {
    margin-top: 7px;
}

.pub-item {
    font-size: 13px;
    margin-top: 4px;
}

.projects {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 400;
}

.project-title {
    font-size: 15px;
    font-weight: 400;
}

.project-list {
    margin-top: 7px;
}

.project-item {
    font-size: 13px;
    margin-top: 4px;
}